---
layout: page 
title: Projects
---

<!-- Preload Images -->
{% for post in site.posts %}
  {% if post.projects %}
    <link rel="preload" href="{{ post.image }}" as="image">
  {% endif %}
{% endfor %}

<h1 style="text-align: center;">Professional</h1>
<hr>
<section class="project-elem-container {% if site.animation %}animated{% endif %}">
    {% for post in site.posts %} {% if post.projects %}
    {% if post.projects and post.categories contains "professional" %}
    <div class="project-elem">
        <a class="link" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
            <div class="item {% if post.star %}star{% endif %}">
                <img class="selfie" src="{{ post.image }}" alt="{{ post.title }}">
                <button class="toggle-info" aria-label="View Information" onclick="toggleInfo(this, event)">
                    <svg class="icon icon-info"><use xlink:href="#icon-info"></use></svg>
                </button>
                <div class="overlay">
                    <div class="project-info">
                        <h3 class="title">{{ post.title }}</h3>
                        <p class="role">{{ post.role }}</p>
                        <p class="release-date">{{ post.date | date: "%B %d, %Y" }}</p>
                        <p class="platforms">{{ post.platforms }}</p>
                        <p class="studio">{{ post.studio }}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endif %}
    {% endif %} {% endfor %}
</section>
<br>
<br>
<br>
<h1 style="text-align: center;">Personal</h1>
<hr>
<div class="project-container"></div>
<section class="project-elem-container {% if site.animation %}animated{% endif %}">
    {% for post in site.posts %} {% if post.projects %}
    {% if post.projects and post.categories contains "personal" %}
    <div class="project-elem">
        <a class="link" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
            <div class="item {% if post.star %}star{% endif %}">
                <img class="selfie" src="{{ post.image }}" alt="{{ post.title }}">
                <button class="toggle-info" aria-label="View Information" onclick="toggleInfo(this, event)">
                    <svg class="icon icon-info"><use xlink:href="#icon-info"></use></svg>
                </button>
                <div class="overlay">
                    <div class="project-info">
                        <h3 class="title">{{ post.title }}</h3>
                        <p class="role">{{ post.role }}</p>
                        <p class="release-date">{{ post.date | date: "%B %d, %Y" }}</p>
                        <p class="platforms">{{ post.platforms }}</p>
                        <p class="Studio">{{ post.studio }}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endif %}
    {% endif %} {% endfor %}
</section>
</div>

<script>
  let activeButton = null;
  let activeOverlay = null;

  function toggleInfo(button, event) {
    event.preventDefault();
    event.stopPropagation();
    const overlay = button.nextElementSibling;

    if (activeButton === button) {
      activeButton.classList.remove('active');
      activeOverlay.classList.remove('active');
      activeButton = null;
      activeOverlay = null;
      return;
    }

    if (activeButton && activeButton !== button) {
      activeButton.classList.remove('active');
      activeOverlay.classList.remove('active');
    }

    button.classList.add('active');
    overlay.classList.add('active');
 
    activeButton = button;
    activeOverlay = overlay;

    document.addEventListener('click', function handleClickOutside(event) {
      if (activeButton && !button.contains(event.target) && !overlay.contains(event.target)) {
        activeButton.classList.remove('active');
        activeOverlay.classList.remove('active');
        activeButton = null;
        activeOverlay = null;
        document.removeEventListener('click', handleClickOutside);
      }
    });
  }

  document.querySelectorAll('.toggle-info').forEach(button => {
    button.addEventListener('click', event => {
      event.preventDefault();
      event.stopPropagation();
    });
  });

  window.addEventListener('load', function() {
    document.querySelector('.project-container').style.visibility = 'visible';
  });
</script>