{% if page.title == "Home"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}

    <header class="header-home {% if site.animation %}animated{% endif %}">
        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description">{{ site.bio }}</h2>
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture2 }}{% else %}{{ site.url }}/{{ site.picture2 }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
                <div class="overlay">
                    <div class="project-info">
                        <h3 class="title">{{ site.bio }}</h3>
                    </div>
                </div>
            </span>
        {% endif %}
        <br>
        <h4 class="subtitle">
            Programmer in the video game industry with a proven track record of collaborating with designers, artists, and engineers to successfully ship 
            <a href="{{ site.url }}/projects">
                {% assign professional_projects = site.posts | where: "categories", "professional" | size %}
                {{ professional_projects }} titles
            </a>
        </h4>
    </header>
{% endif %}

