.page
    margin-top: 80px
    @media #{$mobile}
        margin-top: 110px
    > h1
        text-align: center
        margin-bottom: 1rem
ul, li
    padding: 0
    margin: 0
    list-style-type: none

li
    margin-bottom: 5px

.about
    img
        margin: 0 auto
        display: block
        width: 250px
        border: 3px solid $gama // Accent color
        border-radius: 15px // Slight rounding
        padding: 5px
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
        transition: transform 0.3s, box-shadow 0.3s

table
    width: 100%
        border-collapse: collapse
        text-align: left

    th, td
        padding: 3px
        color: $alpha

    th
        font-weight: italic
        text-align: left
        color: $beta
        border-bottom: 2px solid $beta
    td:first-child
        color: $alpha
        a
            text-decoration: none
            color: $delta
        i
            font-weight: italic
            color: $delta

    td:last-child
        text-align: right
        font-style: italic

    td:has(a)
        color: $delta // Base color for links
        a
            color: inherit // Ensure links inherit the $delta color from the cell
            transition: color 0.3s // Smooth transition for hover effect

            &:hover, &:focus // Change color on hover or focus
                color: $gama

            &:active // Change color on click (active state)
                color: $gama

