.page
    margin-top: $header-margin-top
    margin-bottom: $header-margin-top
    
    @media #{$mobile}
        margin-top: 50px
    > h1
        text-align: center
        margin-bottom: 1rem
        
ul, li
    margin: 0 0 1.5rem 1.5rem
    padding: 0
    list-style: disc

li
    margin-bottom: 5px

hr
    border: none
    height: 1px
    background-color: rgba($epsilon, 1.0)
    margin: 15px 0

.about 

    ul,li
        list-style: none

    img
        margin: 0 auto
        display: block
        width: 250px
        border: 1px solid $epsilon // Accent color
        border-radius: 5px // Slight rounding
        padding: 0px
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
        transition: transform 0.3s, box-shadow 0.3s

    table img
        border: none
        border-radius: 0px
        padding: 0px
        width: 25px !important
        height: auto !important
        margin-right: 0px !important
        display: inline-block !important
        vertical-align: middle !important
        box-shadow: 0 0 0 0

        
    > h2
        margin: 0
        padding: 0
        list-style-type: none
        line-height: 1.5
        margin-bottom: 5px

table
    width: 100%
    border-collapse: collapse
    border-spacing: 0
    text-align: center
    margin-bottom: 10px 
    font-size: 1.3rem
    align-items: center

    th, td
        padding: 5px
        border: none
        color: $alpha
        text-align: center

    th:first-child, td:first-child
        text-align: left

    tr:first-child
        th
            border-bottom: 1px outset rgba($alpha, 0.1)
    tr
        &:hover
            background-color: $go-top

    th
        font-weight: italic
        color: $gama
        text-align: center

    td:first-child
        color: $alpha
        font-weight: italic
        a
            text-decoration: none
            color: $delta
        i
            font-weight: italic
            color: $delta

    @media #{$mobile}
        display: block
        overflow-x: auto
        white-space: nowrap 

        th:nth-child(1), td:nth-child(1)
            width: 40%

        th:nth-child(2), td:nth-child(2)
            width: 30%
        
        th:nth-child(3), td:nth-child(3)
            width: 30%
            align-items: center
            text-align: center
            a
                transform: scale(1)

    th:nth-child(1), td:nth-child(1)
        width: 35%

    th:nth-child(2), td:nth-child(2)
        width: 20%
        
    th:nth-child(3), td:nth-child(3)
        width: 20%
        align-items: center
        text-align: center
        a
            transform: scale(1)

    td:has(a)
        color: $delta !important
        a
            color: inherit !important
            transition: color 0.3s !important
            &:hover, &:focus
                color: $gama !important
            &:active
                color: $gama !important

#toggle-section-btn
    display: inline-block
    position: relative
    align-items: center
    width: 100%
    background:  $dark-hover
    color: $delta
    padding: 10px 10px 10px 10px
    margin-bottom: 10px
    border: none
    border-radius: 8px
    font-size: 16px
    font-weight: bold
    cursor: pointer
    transition: all 0.3s ease-in-out
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2)

    &:hover
        border: 2px solid $gama
        background:  $go-top
        border-radius: 16px
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3)
        transform: scale(1.025)
        color: $gama

    &:active
        background:  $go-top
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
        color: $gama

#collapsible-section
    border: 2px solid $gama
    border-radius: 8px
    padding-left: 10px
    max-height: 0
    opacity: 0
    overflow: hidden
    visibility: hidden
    transition: max-height 0.5s ease, opacity 0.5s ease, visibility 0.5s ease
    
    &.visible
        max-height: 1200px
        opacity: 1
        visibility: visible
        margin-bottom: 20px

p
    line-height: 1.7
    color: $alpha
    font-weight: 300
    margin-bottom: 1.5rem
    letter-spacing: 0.4px


.platform-icons
    display: flex
    justify-content: center
    margin-top: 20px

    .platform-icon 
        width: 30px
        height: 30px
        margin: 0 5px
        transition: transform 0.3s

.profile-image-wrapper
    position: relative
    display: block
    text-align: center

    img
        display: inline-block
        margin: 0 auto

    .tooltip
        visibility: hidden
        width: 100px
        background-color: $go-top
        color: $gama
        text-align: center
        padding: 5px 5px
        border-radius: 6px
        position: absolute
        z-index: 1
        top: 50%
        left: 25%
        transform: translateX(50%) translateY(-50%)
        opacity: 0
        transition: opacity 0.3s

        &::after
            content: ''
            position: absolute
            top: 50%
            left: -5px
            transform: translateY(-50%)
            border-width: 5px
            border-style: solid
            border-color: transparent $go-top transparent transparent

    img:hover + .tooltip
        visibility: visible
        opacity: 1
