.post
    .header-post
        margin-top: $header-margin-top
    
        > .title
            text-align: center
            font-size: 3.2rem
            margin-bottom: 3rem
            color: $alpha
    
        > .date,
        > .post-tags
            color: $gama
            font-weight: 300
            font-size: 1.4rem
            text-transform: uppercase
            text-align: center
            display: block
            margin-bottom: 6rem
            letter-spacing: 1px
            -webkit-font-smoothing: antialiased
            text-rendering: optimizeLegibility
    
        > .date
            margin-bottom: 2rem
    
        > .post-tags > .item
            padding: 2px 8px
            border-radius: 3px
            font-size: 1.1rem
            background: $epsilon
            color: $alpha
            letter-spacing: 1px
            margin: 3px 1px
            text-decoration: none
            display: inline-block
            
        > .title-image
            width: 425px
            height: 250px
            display: block
            margin: 5px auto
            padding: 10px
            transition: transform 0.3s, opacity 0.3s

    // general style
    > h2,
    > h3,
    > h4
        margin-top: 40px

        a
            text-decoration: none
    
    .footer-post
        > .blog-navigation
            font-size: 1.4rem
            display: block
            width: auto
            overflow: hidden
            a
                display: block
                width: 50%
                float: left
                margin: 1em 0
                text-decoration: none
    
            .next
                text-align: right
