.post
    .header-post
        margin-top: $header-margin-top
        padding-top: 2rem
        text-align: center

        > .title
            font-size: 3.2rem
            margin-bottom: 3rem
            color: $alpha

        > .date,
        > .post-tags
            color: $gama
            font-weight: 300
            font-size: 1.4rem
            text-transform: uppercase
            text-align: center
            display: block
            margin-bottom: 2rem
            letter-spacing: 1px
            -webkit-font-smoothing: antialiased
            text-rendering: optimizeLegibility

        > .date
            margin-bottom: 2rem

        > .post-tags > .item
            padding: 2px 8px
            border-radius: 3px
            font-size: 1.1rem
            background: $epsilon
            color: $alpha
            letter-spacing: 1px
            margin: 3px 1px
            text-decoration: none
            display: inline-block

    .title-image
        max-width: 250px
        max-height: auto
        display: block
        margin: 2rem auto
        padding: 0
        transition: transform 0.3s, opacity 0.3s

    iframe
        margin-top: 20px
        margin-bottom: 20px

    > h2,
    > h3,
    > h4
        margin-top: 40px

        a
            text-decoration: none

    .footer-post
        margin-top: 20px

        .blog-navigation
            font-size: 1.4rem
            display: flex
            justify-content: space-between
            width: 100%

            a
                display: block
                width: 50%
                text-decoration: none

            .prev
                text-align: left

            .next
                text-align: right

     
.container
    border-top: 1px solid $epsilon
    padding-top: 5px
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center
    height: 100

    .next
        float: right
        text-align: right
        font-size: 1.2rem
    .prev
        text-align: left
        float: left
        font-size: 1.2rem
