.tags
    margin-top: 0

    h1
        text-align: center

    > .list
        border-top: 0px solid $epsilon
        margin-top: 30px
        padding-top: 40px
        position: relative

        &:before
            display: block
            content: " "
            width: 0px
            height: 0px
            border: $epsilon 0px solid
            position: absolute
            top: -5px
            left: 50%
            margin-left: -5px
            background: $dracula-current-line
            border-radius: 3px

.tags > .list, .post-tags
    > .item
        display: inline-block
        margin: 0 5px 5px 0
        padding: 5px 10px
        border-radius: 3px
        font-size: 1rem
        text-transform: uppercase
        background: $dracula-purple
        color: #1E1E1E

        // Tools (Languages, Engines, etc.)
        &.c
            background: $dracula-green
            color: #1E1E1E

        &.cpp
            background: $dracula-green
            color: #1E1E1E

        &.c-sharp
            background: $dracula-green
            color: #1E1E1E

        &.unity
            background: $dracula-green
            color: #1E1E1E

        // Studios and Events
        &.phl-collective
            background: $dracula-pink
            color: #1E1E1E

        &.aspyr
            background: $dracula-cyan
            color: #1E1E1E

        &.gdc
            background: $dracula-orange
            color: #1E1E1E

        // Genres
        &.fps
            background: $dracula-red
            color: #1E1E1E

        &.horror
            background: $dracula-red
            color: #1E1E1E

        &.vr
            background: $dracula-red
            color: #1E1E1E

        &.open-world
            background: $dracula-red
            color: #1E1E1E

        &.rpg
            background: $dracula-red
            color: #1E1E1E

        &.physics-sandbox
            background: $dracula-red
            color: #1E1E1E

        // Miscellaneous
        &.ben10
            background: $dracula-purple
            color: #1E1E1E

        &.mobile
            background: $dracula-purple
            color: #1E1E1E

        &.multiplayer
            background: $dracula-purple
            color: #1E1E1E

        &.justice-league
            background: $dracula-purple
            color: #1E1E1E

.tag-list > .list
    padding: 0

    > .item
        display: block
        width: 80%
        margin: 0 10%

    > .item > .url
        width: 100%
        height: 100%
        display: block
        padding: 10px 0
        text-decoration: none

    > .item > .url > .title
        margin: 0
        width: 75%
        font-weight: 400
        transition: all ease-in-out .2s
        font-size: 1.6rem

    > .item:hover > .url > .title
        color: $delta

    // maybe we can't nest html5 elements
    // can you help me?
    aside
        position: relative
        top: 2px
        margin: 0
        width: 25%
        float: right
        font-weight: 300
        color: $gama
        text-align: right
        transition: all ease-in-out .2s
        font-size: 1.6rem

    .item:hover .url aside
        color: $alpha
