$nav-font-size: 2.8rem
$nav-color: $delta
$nav-hover-color: $gama
$nav-active-color: $epsilon // Define a color for the active state
$nav-active-background: $beta // Optional background for active links
$nav-spacing: 10px
$nav-padding: 0 0

.nav
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    width: 100%
    max-width: 1200px
    padding: $nav-padding
    z-index: 1000
 
    > .list
        list-style: none
        margin: 0 auto
        padding: 0
        display: flex
        justify-content: center

        > .item
            display: inline-block

            &:last-child
                margin-right: 0

            > .link
                display: inline-block
                font-weight: 300
                font-size: $nav-font-size
                padding: 20px 10px
                text-decoration: none
                color: $nav-color

                &:hover
                    color: $nav-hover-color
                    text-decoration: none
                    transform: scale(1.01)

                &.active
                    color: $nav-hover-color

    @media #{$mobile}
        width: 100%
        padding: 1px 0

        > .list
            list-style: none
            flex-direction: row
            font-size: 1.8rem

            > .item
                margin-right: 0
                margin-bottom: $nav-spacing
                background-color: $background-color

                > .link
                    font-size: 1.6rem
                    padding: 10px 5px
                    color: $nav-color
                    background-color: $background-color

                    &.active
                        color: $nav-hover-color
                        background-color: $background-color
                        transition: border-radius 5px ease-in-out

.header-post
    .title
        margin-bottom: 1px

.post-details
    p
        margin-bottom: 1px

.nav-area
    position: fixed
    top: 50%
    bottom: 50%
    width: 10px
    z-index: 1000
    background: $delta
    transition: width 0.3s ease-in-out, background-color 0.3s, font-size 0.3s
    animation: grow-vertical 1s forwards
    display: flex
    align-items: center
    justify-content: center
    font-size: 18px
    color: $gama

    &.nav-left::before
        content: "«"
        display: block
        font-size: 18x
        color: $background-color-lighter
        transition: font-size 0.3s ease-in-out

    &.nav-right::before
        content: "»"
        display: block
        font-size: 18px
        color: $background-color-lighter
        transition: font-size 0.3s ease-in-out

.nav-area-wrapper
    position: fixed
    top: 0
    bottom: 0
    width: 60px
    font-size: 45px
    z-index: 999
    cursor: pointer

    &.disable-hover
        .nav-area
            pointer-events: none

    &.enable-hover:hover
        .nav-area
            width: 55px
            background-color: $gama
            font-size: 45px

        .nav-left::before,
        .nav-right::before
            font-size: 45px

    &.nav-left
        left: 0

    &.nav-right
        right: 0

.nav-area
    &.nav-left
        left: 0

    &.nav-right
        right: 0

@keyframes grow-vertical
    0%
        top: 50%
        bottom: 50%
    100%
        top: 0
        bottom: 0

@media (max-width: 768px)
    .nav-area-wrapper.enable-hover:hover
        .nav-area
            width: auto
            background-color: transparent

    .nav-area-wrapper.clicked
        .nav-area
            width: 25px
            background-color: $gama