.project-elem
    display: inline-block
    margin: 0 auto
    text-align: center
    position: relative
    z-index: 99
    padding: 5px
    margin: auto
    

    > .link >.item > .selfie
        border: 3px solid $beta  // Accent color
        border-radius: 15px // Slight rounding
        padding: 5px
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
        transition: transform 0.3s, box-shadow 0.3s

        &:hover
            transform: scale(1.05)
            border: 3px solid $gama
            box-shadow: 0 0 5px $gama, 0 0 15px $gama

    > .link > .title
        font-weight: 100

    > .link > .description
        font-size: 1.85rem
        font-weight: 100
        font-style: normal
        color: $gama
        font-weight: bold
        width: 70%
        margin: 0 auto 10px