$fontSans: "Helvetica Neue", Helvetica, Arial, sans-serif
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace

$text-color: #F8F8F2
$alpha: #F8F8F2
$beta: #BD93F9              
$gama: #50FA7B                 
$delta: #FF79C6
$epsilon: #6272A4
$go-top: #444
$dark-hover: #333
$background-color: #1E1E1E
$subtitle: #FFB86C
$background-color-lighter: #222222

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"

$header-margin-top: 80px


$dracula-background: #282a36
$dracula-current-line: #44475a
$dracula-foreground: #f8f8f2
$dracula-comment: #6272a4
$dracula-cyan: #8be9fd
$dracula-green: #50fa7b
$dracula-orange: #ffb86c
$dracula-pink: #ff79c6
$dracula-purple: #bd93f9
$dracula-red: #ff5555
$dracula-yellow: #f1fa8c